// File: _variables
// Author: Stephen C Sanders <https://stephensanders.me>
// License: MIT

// FONTS
@import "https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Noto+Sans";

$header-font: 'Chelsea Market', cursive;
$main-font: 'Noto Sans', sans-serif;
$primary-color: #BD2121;
$secondary-color: #981A61;
$tertiary-color: #FD6C6C;