// Style: main
// Author: Stephen C Sanders <https://stephensanders.me>
// License: MIT

@import "../assets/_variables";

#body {
    overflow-x: hidden;
    
    .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $header-font;    
    }
    
    p {
        font-family: $main-font;    
    }
    
    a.link {
        color: $secondary-color;    
    }
    
    .seo-icon {
        display: none;   
    }
    
    /* START SOCIAL ICONS STYLES */
    .btn-stackoverflow {
        background-color: #F48024 !important;
        color: white !important;
        
        &:hover {
            background-color: white !important;
            color: #F48024 !important;
            border-color: white !important;    
        }
    }
    
    .btn-vsco {
        background-color: white !important;
        
        &:hover {
            color: white !important;
            background-color: #696969 !important;
            border-color: #696969 !important;
        }
    }
    /* END SOCIAL ICONS STYLES */
}

// GENERAL SECTION STYLES
.part {
    padding: 45px 0;
    
    .sec-header {
        text-align: center;
        padding-bottom: 25px;
        margin-top: 0 !important;
        color: $tertiary-color;
    }
}

// MAIN SECTION STYLES
.main {
    background-image: url(../assets/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    @media screen and (max-width: 375px) {
        height: 667px !important;    
    }
    
    .container {
        .row {
            justify-content: center;
            
            .main-info {
                position: relative;
                top: 55%;
                transform: translateY(55%);
                
                @media screen and (max-width: 440px) {
                    top: 30% !important;
                    transform: translateY(30%) !important;
                }
                
                h1 {
                    font-size: 55px;
                    color: $primary-color;
                }
                
                h3 {
                    font-size: 22px;
                    color: $tertiary-color;
                }
                
                // nav
                .nav-row {
                    width: 100%;
                    padding: 25px 0;
                    
                    .nav-pills {
                        margin: 0 auto;
                        
                        > li {
                            float: none !important;
                            display: inline-block !important;
                            padding: 0 5px;
                            
                            @media screen and (max-width: 605px) {
                                padding: 2.5px 0 !important;
                            }
                            
                            > a {
                                color: $secondary-color;
                                background-color: white !important;
                                font-size: 18px !important;
                                font-weight: bold;
                                font-family: $main-font;
                                
                                &:hover {
                                    color: white;
                                    background-color: $secondary-color !important;
                                    text-decoration: none !important;
                                }
                            }
                        }
                    }
                }
                
                .social-icons {
                    padding: 15px 0;
                    
                    .btn-social-icon {
                        margin: 0 7.5px;
                        
                        svg {
                            margin-top: 5px;    
                        }
                    }
                }
            }
        }
    }
}

// ABOUT SECTION STYLES
.about-section {
    .col-md-6 {
        .about-img {
            text-align: center;
            
            img {
                @media screen and (max-width: 991px) {
                    width: 100%;    
                }
            }
        }
        
        .about-text {
            margin-top: 25px;
            
            p {
                line-height: 1.5;
                font-size: 1.5rem;
            }
        }
    }
}

// PROJECTS SECTION STYLES
.projects-section {
    background-color: $primary-color;
    
    .col-md-4 {
        padding: 0 !important;
        
        .project {
            margin: 7.5px 5px;
            background-color: white;
            border: 1px solid black;
            box-shadow: 2.5px 2.5px black;
            
            &:hover {
                background-color: $secondary-color;
                transition: 0.5s;
                
                .project-info {
                    color: white !important;
                    
                    a {
                        color: black !important;    
                    }
                }
            }
            
            .project-img {
                img.proj-img {
                    width: 100%;
                    border-bottom: 1px solid black;
                }
            }
            
            .project-info {
                margin: 15px 7.5px;
                text-align: center;
            
                .project-description {
                    .proj-info {
                        margin: 0 !important;    
                    }
                }
            }
        }
    }
}

// FOOTER SECTION STYLES
.footer-section {
    padding: 20px 0;
    
    p {
        text-align: center;
        color: $secondary-color;
    }
}

// MOBILE STYLES
@media screen and (max-width: 379px) {
    .main-info {
        h3 {
            font-size: 16px !important;
        }
    }
}

@media screen and (min-width: 380px) and (max-width: 569px) {
    .main-info {
        h1 {
            font-size: 45px !important;    
        }
        
        h3 {
            font-size: 18px !important;
        }
    }
}

@media screen and (max-width: 605px) {
    .nav-pills > li {
        padding: 2.5px 0 !important;
    }
}

@media screen and (min-width: 1500px) {  // styles for larger monitors
    .main-info {
        top: 75% !important;
        transform: translateY(75%) !important;
        
        h1 {
            font-size: 75px;    
        }
        
        h3 {
            font-size: 30px;    
        }
    }
    
    .part {
        padding: 60px !important;
        
        .sec-header {
            font-size: 35px;
            padding-bottom: 30px;
        }
    }
    
    .about-text {
        margin-top: 5px;
        
        p {
            line-height: 1.75 !important;    
        }
    }
    
    .projects-section {
        .container {
            width: 1250px !important;    
        }
    }
}