// Style: main
// Author: Stephen C Sanders <https://stephensanders.me>
// License: MIT

@import "../assets/_variables";

// MIXINS
@mixin background-img($image, $height) {    // bg imgs - main and cta sections
    background: {
        image: $image;
        repeat: no-repeat;
        position: center;
    }
    
    height: $height;
}

@mixin transform-y($percent, $width) {  // for positioning text - main and cta sections
    top: $percent;
    transform: translateY($percent);
    width: $width;  // for width of info div
}

@mixin social-icon-colors($main, $secondary) {  // set certain social button colors
    background-color: $main;
    color: $secondary;
    
    &:hover {
        background-color: $secondary;
        color: $main;
        border-color: $secondary;        
    }
}

// GENERAL LAYOUT STYLES
html, body { overflow-x: hidden !important; } // remove horizontal scrolling

body {
    .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $header-font;    
    }
    
    p {
        font-family: $main-font;    
    }
    
    a.link {
        color: $secondary-color;    
    }
    
    .seo-icon {
        display: none;   
    }
    
    .btn-primary {
        background-color: $secondary-color;
        border-color: $secondary-color;
        
        &:hover {
            background-color: $tertiary-color;
            border-color: $tertiary-color;
            transition: 0.5s;
        }
    }
    
    /* START SOCIAL ICONS STYLES */
    
    .btn-vsco {
        @include social-icon-colors(#BD2121, white);
    }
    /* END SOCIAL ICONS STYLES */
}

// GENERAL SECTION STYLES
.part {
    padding: 45px 0;
    
    .sec-header {
        text-align: center;
        padding-bottom: 25px;
        margin-top: 0 !important;
        color: $tertiary-color;
        font-size: 40px !important;
        
        &:not(.about-header) {
            text-shadow: 1.25px 1.25px 0 black;
        }
    }
}

// MAIN SECTION STYLES
.main {
    @include background-img(url(../assets/img/background.jpg), 100vh);
    
    @media screen and (max-width: 375px) {
        height: 667px !important;    
    }
    
    .container {
        .row {
            justify-content: center;
            
            .main-info {
                position: relative;
                @include transform-y(40%, auto);
                
                @media screen and (max-width: 375px) {
                    transform: translateY(20%) !important;
                }

                @media screen and (min-width: 376px) and (max-width: 400px) {
                    transform: translateY(30%) !important;
                }

                @media screen and (min-width: 401px) and (max-width: 475px) {
                    transform: translateY(40%) !important;
                }
                
                h1 {
                    font-size: 55px;
                    color: $primary-color;
                }
                
                h3 {
                    font-size: 22px;
                    color: $tertiary-color;
                }
                
                h5 {
                    font-size: 16px;
                    color: #CA5656;    
                }
                
                // nav
                .nav-row {
                    width: 100%;
                    padding: 25px 0;
                    
                    .nav-pills {
                        margin: 0 auto;
                        
                        > li {
                            float: none !important;
                            display: inline-block !important;
                            padding: 0 5px;
                            
                            @media screen and (max-width: 605px) {
                                padding: 2.5px 0 !important;
                            }
                            
                            > a {
                                color: $secondary-color;
                                background-color: white !important;
                                font-size: 18px !important;
                                font-weight: bold;
                                font-family: $main-font;
                                
                                &:hover {
                                    color: white;
                                    background-color: $secondary-color !important;
                                    text-decoration: none !important;
                                }
                            }
                        }
                    }
                }
                
                .social-icons {
                    padding: 15px 0;
                    
                    .btn-social-icon {
                        margin: 0 7.5px;
                        
                        svg {
                            margin-top: 5px;    
                        }
                    }
                }

                .contact-row {
                    padding: 15px 0;

                    button {
                        color: white;
                        background-color: $secondary-color;
                        font-family: $main-font;

                        &:hover {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

// ABOUT SECTION STYLES
.about-section {
    .col-md-6 {
        .about-img {
            text-align: center;
            
            img {
                @media screen and (min-width: 795px) and (max-width: 991px) {
                    width: 100%;    
                }
            }
        }
        
        .about-text {
            p {
                line-height: 1.5;
                font-size: 1.5rem;
            }
        }
    }
}

// PROJECTS SECTION STYLES
.projects-section {
    .col-md-4 {
        @media screen and (min-width: 795px) {
            padding: 0 !important;
        }
    }
    
    .col-md-12 {
        @media screen and (min-width: 795px) {
            padding: 0 !important;    
        }
        
        .project{
            box-shadow: 2.5px 2.5px black;
            border-radius: 15px;
            
            .project-info {
                margin: 25px 7.5px !important;

                .project-description {
                    .proj-info {
                        padding: 0 5px !important;    
                    }
                }
            }
            
            .project-img {
                img.proj-img {
                    border-top: 1px solid black;
                    border-readius: 15px
                }
            }
        }
    }
    
    .project-img {
        img.proj-img {
            width: 100%;
            border-bottom: 1px solid black;
            border-radius: 15px;
        }
    }
    
    .project {
        margin: 7.5px 5px;
        background-color: white;
        border: 1px solid black;
        box-shadow: 2.5px 2.5px black;
        border-radius: 15px;

        &:hover {
            background-color: $secondary-color;
            transition: 0.5s;

            .project-info {
                color: white !important;

                a {
                    color: black !important;    
                }
            }
        }

        .project-info {
            margin: 15px 7.5px;
            text-align: center;

            .project-description {
                .proj-info {
                    margin: 0 !important;    
                }
            }
        }
    }
    
    .proj-disclaim {
        @media screen and (max-width: 794px) {
            margin: 0 15px;    
        }
    }
}

// GIS PROJECTS SECTION STYLES
#gis-projects {
    background-image: url(../assets/img/gis-projs.jpg) !important;
       
    .proj-header {
        color: $primary-color !important;
    }
    
    h3 {
        font-size: 20px;    
    }
}

// OTHER PROJECTS SECTION STYLES
#other-projects {
    background-color: $primary-color !important;
}

// FOOTER SECTION STYLES
.footer-section {
    padding: 20px 0;
    
    p {
        text-align: center;
        color: $secondary-color;
    }
}

// MOBILE STYLES
@media screen and (max-width: 390px) {
    .main-info {
        h3 {
            font-size: 16px !important;
        }
    }
}

@media screen and (min-width: 391px) and (max-width: 569px) {
    .main-info {
        h1 {
            font-size: 40px !important;    
        }
        
        h3 {
            font-size: 18px !important;
        }
    }
}

@media screen and (max-width: 605px) {
    .nav-pills > li {
        padding: 2.5px 0 !important;
    }
}

@media screen and (max-width: 794px) {
    .about-section {
        img {
            width: 85% !important;    
        }
        
        .about-text {
            padding: 0 10px !important;    
        }
    }
    
    .projects-section {
        .col-md-4 {
            padding: 0 15px !important;    
        }
    }
}

@media screen and (min-width: 1500px) {  // styles for larger monitors
    .main-info {
        top: 65% !important;
        transform: translateY(65%) !important;
        
        h1 {
            font-size: 75px;    
        }
        
        h3 {
            font-size: 30px;    
        }
    }
    
    .part {
        padding: 60px !important;
        
        .sec-header {
            font-size: 35px;
            padding-bottom: 30px;
        }
    }
    
    .about-text {
        margin-top: 5px;
        
        p {
            line-height: 1.75 !important;    
        }
    }
    
    .projects-section {
        .container {
            width: 1250px !important;    
        }
    }
}